$main-color: #37C2CC ;

.btn.btn-fill {
    background-color: $main-color;
    background: $main-color;
}
.btn.btn-fill:focus {
    background: $main-color;
  }
  .featured-section-4 .each-content-inner ul li .fa {
    color: $main-color;
  }
  .featured-section-4 .each-content-inner ul li h5 .fa {
    color: $main-color;
  }
  .mh-header {
    background: $main-color;
  }
  .mh-header-bg  {
    background: $main-color;
  }
  .mh-header.nav-strict  {
    background: $main-color;
  }
  .btn.btn-fill:hover  {
    background: $main-color;
  }
  .featured-section-4 .feature-item.colored {
    background-color: rgba($main-color, 0.9);
}
  .main-color {
    color: $main-color;
  }
  .ft-carousel .owl-next, .ft-carousel .owl-prev {
    border: 0px solid $main-color;
  }
  .uv-accordinaton-list:hover {
    color: $main-color;
  }
  .uv-right-arrow.color {
    border: 1px solid $main-color;
    background: $main-color;
  }
  .ev-home {
    background: $main-color;
  }

.ev-home .header-overlay-img.header-overlay-2 {
    background-color: $main-color;
  }

.ev-content-title span {
    color: $main-color;
  }

.why-choose-overlay-img {
    background: $main-color;
}

.testimonial-overlay-img {
    background: $main-color;  
  }
  .ev-testimonial .testimonial-inner .owl-next {
    background: $main-color;
    border: 0px solid $main-color;
  }
  .ev-testimonial .testimonial-inner .owl-prev {
    border: 0px solid $main-color;
  }
  .lo-pricing-plan .pricing-item.pricing-item-2.blue-bg {
    background: $main-color;
  }
  .lo-pricing-plan .pricing-item.sky-color {
    border-color: $main-color;
  }
  .lo-pricing-plan .pricing-item.sky-color .pricing-item-bottom .btn {
    background: $main-color;
  }
  .lo-pricing-plan .pricing-item.red-color {
    border-color: $main-color;
  }
  .lo-pricing-plan .pricing-item.red-color .pricing-item-bottom .btn {
    background: $main-color;
  }
  .ev-footer-links .footer-items ul li a:hover {
    color: $main-color;
  }
  .featured-section-4 .each-content-inner ul li .fa {
    color: $main-color;
  }
  .ev-blog-page .header-overlay-3 {
    background-color: $main-color;
  }
  .blog-item h2:hover {
    color: $main-color;
  }
  .featured-section-4 .ev-content-title .title-category {
    color: $main-color;
  }
  .sg-ts-item .each-content .ts-hr.blue-c {
    border-color: $main-color;
  }
  .uv-accordinaton-list:hover {
    color: $main-color;
  }
  .uv-right-arrow {
    background: $main-color;
    border-color: $main-color;
}

.uv-right-arrow.color {
  border: 1px solid $main-color;
  background: $main-color;
}
.featured-section-4 .ev-content-title .title-category {
    color: $main-color;
  }
  .sg-ts-item .each-content .ts-hr.blue-c {
    border-color: $main-color;
  }
  .uv-accordinaton-list:hover {
    color: $main-color;
  }
  .uv-right-arrow {
    background: $main-color;
    border-color: $main-color;
  }
  
  .uv-right-arrow.color {
    border: 1px solid $main-color;
    background: $main-color;
  }
  